<article class="container">
	<header>
		<ul class="nav nav-pills pull-right">
			{{#each LearningYeomanCh5.config.menu.pub}}
			<li>
				<a {{bind-attr href=href}}>{{ title }}</a>
			</li>
			{{/each}}
		</ul>
		<h3 class="brand text-muted"> {{ LearningYeomanCh5.config.sitetitle }} </h3>
		<hr />
	</header>
	<section>
		{{outlet}}
	</section>
	<footer>
		<p>
			{{ LearningYeomanCh5.config.sitecopy }}
		</p>
	</footer>
</article>