<div id="app" class="container">
	<header class="header">
		<ul class="nav nav-pills pull-right">
			{{#each model.menu.pub}}
			<li>
				<a {{bind-attr href=href}}>{{ title }}</a>
			</li>
			{{/each}}
		</ul>
		<h3 class="brand text-muted"> {{ model.sitetitle }} </h3>
		<hr />
	</header>
	{{outlet}}

	<footer class="footer">
		<hr />
		<p>
			{{ model.sitecopy }}
		</p>
	</footer>
</div>

{{log model}}