<ul class="media-list posts">
	{{#each model}}
	<li class="media post">
		{{#link-to 'post' this classNames='pull-left'}}
		<img class="media-object img-thumbnail" {{ bind-attr src=image }}/>
		{{/link-to}}

		<div class="media-body">
			<h4 class="media-heading">{{ title }}</h4>
			<p>{{ body }}</p>
		</div>

		{{log this}}
	</li>
	{{/each}}
</ul>

{{outlet}}